.center {
    background-image: url("http://www.beautissence.com/images/blog/saponificacion-en-frio.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
}

#g {
    color: white;
    background-color: rgba(26, 26, 26, 0.35);
    border-radius: 10px;
    height: 100%;
    width: fit-content;
    padding: 5px 5px 5px 5px;
}